<footer>
    <div class="footer-navigate">
        <h4>Navigate</h4>
        <nav class="nav-footer">
            <ul class="nav-footer-list">
                <li class="nav-footer-list-item">
                    <a href="/onthemenu" class="nav-footer-list-item-menu">ON THE MENU</a>
                </li>

                <li class="nav-footer-list-item">
                    <a href="#" class="nav-footer-list-item-menu">PRICING</a>
                </li>

                <li class="nav-footer-list-item">
                    <a href="#" class="nav-footer-list-item-menu">BLOG</a>
                </li>

                <li class="nav-footer-list-item">
                    <a href="#" class="nav-footer-list-item-menu">FAQ</a>
                </li>
            </ul>
        </nav>
    </div>

    <div class="footer-getintouch">
        <h4>Get in touch</h4>

        <ul class="getintouch-list">
            <li class="getintouch-list-item">+1 (437)388-6613</li>

            <li class="getintouch-list-item">thisway8788@gmail.com</li>
        </ul>
    </div>

    <div class="footer-followus">
        <h4>Follow us</h4>
        <div class="footer-followus-socials">
            <img src="{{#if data.root}}{{data.root}}{{/if}}assets/imgs/icon-facebook.png" alt="" />
            <img src="{{#if data.root}}{{data.root}}{{/if}}assets/imgs/icon-instagram.png" alt="" />
        </div>
    </div>

    <div class="footer-copyright">
        Copyright © Winter 2021, Jeunghak Ham, WEB322NDD
    </div>
</footer>