<section class="hero" style="
        background-image: linear-gradient(
            rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.5)
          ),
          url('assets/imgs/food.jpg');
      ">
    <div class="hero-content">
        <h1>Best Lunch Box in Toronto</h1>
        <p>
            Get farm-fresh ingredients lunch box, <br />
            delivered for FREE to your doorstep.
        </p>

        <button>Get Started</button>
    </div>
</section>