<section class="howitworks">
    <h1>How it works</h1>
    <ul class="howitworks-list">
        <li class="howitworks-list-item">
            <figure class="howitworks-list-item-image" style="background-image: url('assets/imgs/delivery.jpeg')">
            </figure>
            <p class="howitworks-list-item-title">Fast Delivery</p>
            <p class="howitworks-list-item-desc">
                After your order, we will send your lunch box
                <br />
                In 20mins!!
            </p>
        </li>

        <li class="howitworks-list-item">
            <figure class="howitworks-list-item-image" style="background-image: url('assets/imgs/lunchbox.png')">
            </figure>
            <p class="howitworks-list-item-title">Free lunch box</p>
            <p class="howitworks-list-item-desc">
                If you order lunch box 5times, we give you one FREE lunch box.
            </p>
        </li>

        <li class="howitworks-list-item">
            <figure class="howitworks-list-item-image" style="background-image: url('assets/imgs/recipe.jpeg')">
            </figure>
            <p class="howitworks-list-item-title">We sned you our recipe</p>
            <p class="howitworks-list-item-desc">
                We share our receipe!! You can make own lunch box at your place!
            </p>
        </li>
    </ul>
</section>