<section class="topmeals">
    <h1>Top meals</h1>
    <class="topmeals-list">
        {{#each topMeals}}
        <li class="topmeals-list-item">
            <figure class="topmeals-list-item-image" style="background-image: url('assets{{imageUrl}}')"></figure>
            <p class="topmeals-list-item-title">{{title}}</p>

            <p class="topmeals-list-item-desc">
                {{included}}
            </p>

            <p class="topmeals-list-item-price">${{price}}</p>
        </li>
        {{/each}}
        </ul>
</section>