<main id="clerk-dashboard-addmeal">

    <h1>Add a meal kit</h1>

    <form action="/addmeal" method="POST" enctype="multipart/form-data">
        
        <div class="mb-3">
            <label for="meal-form-title" class="form-label">Title</label>
            <input type="text" class="form-control" id="meal-form-title" name="title">
        </div>

        <div class="mb-3">
            <label for="meal-form-description" class="form-label">Description</label>
            <input type="text" class="form-control" id="meal-form-description" name="description">
        </div>

        <div class="mb-3">
            <label for="meal-form-price" class="form-label">Price ($)</label>
            <input type="number" class="form-control" id="meal-form-price" name="price" step="0.01">
        </div>

            <div class="mb-3">
            <label for="meal-form-included" class="form-label">Included</label>
            <input type="text" class="form-control" id="meal-form-included" aria-describedby="includedHelp" name="included">
            <div id="includedHelp" class="form-text">Comma.......</div>
        </div>

        <div class="mb-3">
            <label for="meal-form-category" class="form-label">Category</label>
            <input type="text" class="form-control" id="meal-form-category" name="category">
        </div>

        <div class="mb-3">
            <label for="meal-form-cooking-time" class="form-label">Cooking Time</label>
            <input type="number" class="form-control" id="meal-form-cooking-time" name="cooking_time">
        </div>


        <div class="mb-3">
            <label for="meal-form-serving" class="form-label">Serving</label>
            <input type="number" class="form-control" id="meal-form-serving" name="serving">
        </div>


        <div class="mb-3">
            <label for="meal-form-calories" class="form-label">Calories</label>
            <input type="number" class="form-control" id="meal-form-calories" name="calories">
        </div>

        <div class="mb-3">
            <label for="meal-form-country-style" class="form-label">Country-Style</label>
            <input type="text" class="form-control" id="meal-form-country-style" name="country_style">
        </div>



        <div class="mb-3 form-check">
            <input type="checkbox" class="form-check-input" id="meal-form-topmeals" name="topmeal">
            <label class="form-check-label" for="meal-form-topmeals">Top meals</label>
        </div>


  


        <div class="mb-3">
            <label for="meal-form-image" class="form-label">Image</label>
            <input type="file" class="form-control" id="meal-form-image" name="image" accept="image/jpeg, image/png">
        </div>


     <div id="clerk-dashboard-addmeal-btn-container"><button type="submit" class="btn btn-primary">Submit</button></div>
        




    
    
    </form>




</main>