{{#each data.menus}}
<section class="section-meals">
    <h1>{{group}}</h1>
    <div class="meals-list">

        {{#each meals}}
        <div class="meals-list-item">

            <img src="/assets/upload/{{image}}" alt="">

            <h3>{{title}}</h3>
            <p>{{included}}</p>
        </div>
        {{/each}}
    </div>

</section>

{{/each}}
